{{#extends 'base'}}


{{#block "content"}}

<h1>Register New account</h1>

<form method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}" />
    {{{form}}}

    <button class="btn btn-success mt-3">Register Account</button>

</form>

{{/block}}

{{/extends}}