{{#extends 'base'}}


{{#block "content"}}

<h1>Add a new soap product to store</h1>


<form method="POST">


{{{form}}}

<button class="btn btn-success mt-3">Add Product</button>

</form>


{{/block}}

{{/extends}}

