{{#extends 'base'}}


{{#block "content"}}

<h1>Add a new soap product to store</h1>


<form method="POST">

    <div class="alert alert-danger"> Do you confirm to delete {{product.name}}</div>
    <input type="submit" class="btn btn-danger" value="Delete" />
    <a href="/products" class="btn btn-success">Cancel</a>
   
</form>


{{/block}}

{{/extends}}